{% extends 'base.html' %}
{% load static %}
{% block 'head' %}{% endblock %}
{% block 'title' %}<title>Password changing</title>{% endblock %}
{% block 'menu' %}{% endblock %}
{% block 'content' %}

<div class="content">
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>Did you forget your password? Enter email email address and we'll send instructions for changing your password.</p>
      <p>Email Adress: {{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
</div>

{% endblock %}