.upper-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ab0a0a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    position: fixed;
    top: 0px;
    left: 8px;
    right: 8px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #427150;
    color: #fff;
    border: None;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.menu-bar {
    background-color: #427150;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    position: fixed;
    top: 51px;
    left: 8px;
    right: 8px;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-item {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.menu-item:hover {
    background-color: #ab0a0a;
    border-radius: 4px;
}

.menu-user-icon {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-user-icon svg {
    margin-right: 5px;
}

.menu-user-icon:hover {
    color: #ab0a0a;
}

.menu-user-logout {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-user-logout:hover {
    color: #ab0a0a;
}

.menu-user-items {
    display: flex;
}

.menu-user-item {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s
    margin-right: 10px;
}

.menu-user-item:hover {
    background-color: #ab0a0a;
    border-radius: 4px;
}

.content {
    border: 2px solid #B3B3B3;
    border-radius: 3px;
    margin-top: 92px;
}

.content-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}

.content2 {
    border: 2px solid #B3B3B3;
    border-radius: 3px;
    margin-left: 20px;
}

@keyframes logoAnimation {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

.logo {
    font-size: 24px;
    font-weight: bold;
    animation: logoAnimation 5s linear infinite; /* Adjust the duration and animation type as needed */
}

.footer {
    border: 2px solid #ab0a0a;
    border-radius: 3px;
    background-color: #ab0a0a;
}

.footer-logo {
    display: inline-block;
    margin-left: 20px;
}

.footer-logo img {
    width: 20%;
    height: 50px;
    vertical-align: middle;
    border-radius: 8px;
}

.footer-logo h2 {
    display: inline-block;
    margin-left: 10px;
}

.footer-general {
    display: flex;
    justify-content: space-between;
}

.footer-about,
.footer-Contacts {
    flex: 0 0 calc(50% - 20px);
    padding: 0 10%;
    box-sizing: border-box;
}

.sidebar {
    width: 200px;
    background-color: #f2f2f2;
}

.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    text-align: center;
    width: 350px;
    margin: 10px;
}

.container img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.container a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}

.table {
    width: 600px;
r}

.th {
    text-align: left;
}

.table,
th,
td {
    border: 1px solid #000;
}

.footer-info {
    margin-top: 0;
    background-color: #427150;
    border-radius: 3px;
    height: 20px;
    width: auto;
    text-align: center;
}

.content-alert {
    margin-top: 100px;
}

.product-image {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

.content2 {
    width: 20%;
    margin-bottom: 20px;
}

.product-info {
    margin-bottom: 10px;
    font-weight: bold;
}

.product-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 20px;
}
