<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block 'title' %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

</head>
<body>
  <div class="upper-panel">
    <div class="logo">BWS</div>

    <div class="buttons">
      <button class="button">Sign Up</button>
      <button class="button">Log In</button>
    </div>
  </div>

  <div class="menu-bar">
    <a href="{% url 'index' %}" class="menu-item">Home</a>
    <a href="#" class="menu-item">About</a>
    <a href="#" class="menu-item">Products</a>
    <a href="#" class="menu-item">Contact</a>
  </div>

    {% block 'content' %}{% endblock %}

<footer>
  <div class="footer">

    <div class="footer-logo">
      <img src="{% static 'images/logo.png' %}">
      <h2>Black Wired Sky</h2>
    </div>

    <div class="footer-general">
      <div class="footer-about">
        <h3>About</h3>
        <p>The company has been established for 10 years. We have 3 own factories. We cooperate with our partners from various countries. We make boards from various types of wood.</p>
      </div>

      <div class="footer-Contact">
        <h3>Contact</h3>
          <p>Black Wired Sky, UAB<br>Company ID: 123456789<br>Mėnulio g. 12-1, LT-11123, Vilnius.<br>Tel.: +37060011010<br>Email: bws@gmail.com</p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>