{% extends 'base.html' %}
{% block 'head' %}{% endblock %}
{% block 'title' %}<title>Black Wired Sky</title>{% endblock %}
{% block 'menu' %}{% endblock %}
{% block 'content' %}
<div class="content">
    <h1>Most Popular Orders</h1>
    <ul class="content-list">
        {% for order in orders %}
        <div class="content2">
            <a href="{% url 'product' order.buyer_info.product.id  %}">{{ order.buyer_info.product }}</a>
        </div>
        {% endfor %}
    </ul>
  </div>
{% endblock %}