{% extends 'base.html' %}
{% load static %}
{% block 'head' %}{% endblock %}
{% block 'title' %}<title>Black Wired Sky: Orders</title>{% endblock %}
{% block 'menu' %}{% endblock %}
{% block 'content' %}
<div class="content">
    <ul class="content-list">
        <div class="container-wrapper">
            {% for order in user_orders %}
                {{ order.order_nr }}<br>
                {{ order.price }}<br>
                {{ order.order_status }}
            {% endfor %}
        </div>
    </ul>
</div>
{% endblock %}